.pricing-table{
    margin: 60px auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.pricing-block{
    background: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555555;
    width: 50%;
}

.pricing-header{
    text-transform: uppercase;
    font-size: 1.4rem;
}

.pricing-heading{
    padding: 20px;
    font-weight: 700;
}

.pricing-price{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #555555;
}

.pricing-price__currency{
    opacity: 0.6;
    font-size: 2rem;
    font-weight: 700;
}

.pricing-price__value{
    opacity: 0.8;
    font-size: 5rem;
    font-weight: 300;
}

.pricing-price__duration{
    opacity: 0.6;
    font-size: 1.4rem;
}

.pricing-body{
    margin: 50px 0 20px 0;
    width: 100%;
    text-align: center;
}

.pricing-features{
    display: flex;
    flex-direction: column;
}

.pricing-features li{
    padding: 10px 0;
    margin: 0;
}

.pricing-features li:nth-child(odd) {
    background-color:#f8f8f8;
}

.pricing-footer {
    padding: 20px;
    background: #333;
    width: -webkit-fill-available;
    text-align: center;
}

.pricing-button,
.pricing-button:link,
.pricing-button:visited{
    text-decoration: none;
     text-transform: uppercase;
     color: #ffffff;
     background: #333;
     border-bottom: dotted 0 #00B3B4;
}


.pricing-popular .pricing-price{
    color: #ff8888;
}

.pricing-popular .pricing-footer{
    background: #ff8888;;
}

.pricing-popular .pricing-button{
    background: #ff8888;;
}

.pricing-popular .pricing-button:link{
    background: #ff8888;;
}

.pricing-popular .pricing-button:visited{
    background: #ff8888;;
}